@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html>
<head>
    <title>Pictures Home Page</title>
    <link href="~/Content/Home.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/masonry.pkgd.min.js"></script>
    <script src="~/Scripts/masonry.pkgd.js"></script>
    <script type="text/javascript">
        var flag = true;
        $(function () {
            var $container = $('#container');
            $container.masonry({
                singleMode: true,
                animate: true,
                itemSelector: '.item'
            });

            $(window).scroll(function () {
                if ($(document).height() - $(this).scrollTop() - $(this).height() < 50) {
                    if (flag) {
                        var $boxes = $(getList());
                        $container.append($boxes).masonry('appended', $boxes);
                    }
                }
            });
        });
        function getList() {
            var boxes = [], count = parseInt(Math.random() * 10);
            for (var i = 0; i < count; i++) {
                boxes.push('<div class="item"><a href="#"><img src="~Images/picture'
                    + (i + 1) + '.jpg" width="200" alt="" /></a><a href="#" target="_blank">图片' + (i + 1) + '</a></div>');
            }
            return boxes.join("");
        }

        //$(function () {
        //    var $container = $('#container');
        //    $container.imagesLoaded(function () {
        //        $(this).isotope({
        //            itemSelector: '.item'
        //        });
        //    });
        //});
    </script>
</head>
<body>
    <div id="container">
        <div class="item">
            <img src="~/Images/picture1.jpg" />
        </div>
        <div class="item">
            <img src="~/Images/picture2.jpg" />
        </div>
        <div class="item">
            <img src="~/Images/picture3.jpg" />
        </div>
        <div class="item">
            <img src="~/Images/picture4.jpg" />
        </div>
        <div class="item">
            <img src="~/Images/picture5.jpg" />
        </div>

        <div class="item">
            <img src="~/Images/picture6.jpg" />
        </div>
        <div class="item">
            <img src="~/Images/picture7.jpg" />
        </div>
        <div class="item">
            <img src="~/Images/picture8.jpg" />
        </div>
        <div class="item">
            <img src="~/Images/picture9.jpg" />
        </div>
        <div class="item">
            <img src="~/Images/picture10.jpg" />
        </div>
    </div>
</body>
</html>

